image:
  repository: otel/opentelemetry-collector

mode: deployment

config:
  exporters:
    otlphttp:
      endpoint: http://tempo:4318
  service:
    pipelines:
      traces:
        exporters:
        - otlphttp
