apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana-route
  namespace: monitoring
spec:
  parentRefs:
  - name: istio-ingressgateway
    namespace: network
    sectionName: https
  hostnames:
  - "grafana.${INFRA_DOMAIN}"
  rules:
  - backendRefs:
    - name: grafana
      port: 80
