configs:
  params:
    server.insecure: true
  clusterCredentials:
    homelab:
      server: https://kubernetes.default.svc
      config:
        tlsClientConfig:
          insecure: true
  secret:
    createSecret: false

dex:
  enabled: false

redis:
  enabled: true

controller:
  replicas: 1

server:
  replicas: 1
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    tls: true

repoServer:
  replicas: 1

applicationSet:
  replicas: 1

global:
  domain: cd.<path:secret/data/infra#domain>
