global:
  domain: cd.<path:secret/data/infra#domain>

configs:
  params:
    server.insecure: true
  clusterCredentials:
    homelab:
      server: https://kubernetes.default.svc
      config:
        tlsClientConfig:
          insecure: true
  credentialTemplates:
    home-kops-credentials:
      url: https://github.com/home-kops/
      password: <path:secret/data/devopstools/argocd#gh_org1_password>
      username: <path:secret/data/devopstools/argocd#gh_org1_username>
  secret:
    createSecret: true
    argocdServerAdminPassword: <path:secret/data/devopstools/argocd#admin_password>
    argocdServerAdminPasswordMtime: "2025-06-15T12:00:00Z"

redis:
  enabled: true

controller:
  replicas: 1

server:
  replicas: 1
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    tls: true

repoServer:
  replicas: 1

applicationSet:
  replicas: 1
